@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Fridge Management System</h1>
<div class="dashboard">
    <h2>Dashboards</h2>
    <ul>
        <li><a asp-action="Dashboard" asp-controller="Customer">Customer Dashboard</a></li>
        <li><a asp-action="ViewFaultReports" asp-controller="Technician">Technician Dashboard</a></li>
    </ul>
</div>
